<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Setting the title in the tab area as well as linking the style sheets-->
    <title>Previous Bookings</title>
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
</head>

<body>

    <!--The navagation bar and heading at the top of each page-->
    <h1>UK Blinds</h1>
    <div id="navcenter">
        <div id="navbar">
            <nav id="navigation">
                <a href="/Homepage">Homepage</a>
                <a href="/Blinds">Choose a Blind</a>
                <a href="/Logout">Logout</a>
                <a href="/Booking">Booking</a>
                <a href="/Details">Details</a>
                <a href="/PreviousOrder">Previous Orders</a>
            </nav>
        </div>
    </div>

    <section>
        <!--Cycles through all the previous bookings and displays both the date and time.-->
        <h2>Previous Booking</h2>
        <ul>
            <% for (let book of booking) { %>
                <li>
                    Date:
                    <%= book.date %>
                </li>
                <li>
                    Preferred Time:
                    <%= book.time %>
                </li>
                <%} %>
        </ul>

        <!--Footer containing links to social media pages-->
        <footer>
            <a href="https://instagram.com">
                <img src="/Images/Instagram.jpg" width="200" height="200">
            </a>
            <a href="https://snapchat.com">
                <img src="/Images/snapchat.png" width="200" height="200">
            </a>
        </footer>

</body>

</html>