<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Setting the title in the tab area as well as linking the style sheets-->
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet">
</head>

<body>

    <!--The navagation bar and heading at the top of each page-->
    <h1>UK Blinds</h1>
    <div id="navcenter">
        <div id="navbar">
            <nav id="navigation">
                <a href="/Homepage">Homepage</a>
                <a href="/Blinds">Choose a Blind</a>
                <a href="/Register">Register</a>
                <a href='/Booking'>Booking</a>
            </nav>
        </div>
    </div>

    <section id="form">
        <!--The login form that logs a user into the website-->
        <h2>Login</h2>
        <form action="/Login" method="POST">
            <p>
                <label for="username">Enter your username:</label>
                <input type="text" placeholder="Username" id="username" required name="username">
            </p>
            <p>
                <label for="password">Enter your password:</label>
                <input type="password" placeholder="Password" id="password" required name="password">
            </p>
            <button>Submit</button>
        </form>
    </section>

    <!--Footer containing links to social media pages-->
    <footer>
        <a href="https://instagram.com">
            <img src="/Images/Instagram.jpg" width="200" height="200">
        </a>
        <a href="https://snapchat.com">
            <img src="/Images/snapchat.png" width="200" height="200">
        </a>
    </footer>

</body>

</html>